<% Object.keys(messages).forEach(function (type) { %>
<div class="alert alert-danger<%= type %>">
    <% messages[type].forEach(function (message) { %>
        <%= message %>
    <% }) %>
</div>
<% }) %>