<footer>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3 col-xs-12">
          <div class="footer-logo"><a href="/">
            <!--<h2>GOUranga Paul</h2>-->
            <img src="/footerlogo.png">
          </a> </div>
          <!-- <p>Lorem Ipsum is simply dummy text of the print and typesetting industry. Ut pharetra augue nec augue. Nam elit agna, endrerit sit amet.</p>
          -->
          <div class="social">
            <ul class="inline-mode">
              <li class="social-network fb"><a title="Connect us on Facebook" target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
              <li class="social-network googleplus"><a title="Connect us on Google+" target="_blank" href="https://plus.google.com/"><i class="fa fa-google"></i></a></li>
              <li class="social-network tw"><a title="Connect us on Twitter" target="_blank" href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
              <li class="social-network linkedin"><a title="Connect us on Pinterest" target="_blank" href="https://www.pinterest.com/"><i class="fa fa-pinterest"></i></a></li>
              <li class="social-network rss"><a title="Connect us on Instagram" target="_blank" href="https://instagram.com/"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
            <div class="payment">
                <ul>
                  <li><a href="#"><img title="Visa" alt="Visa" src="/images/visa.png"></a></li>
                  <li><a href="#"><img title="Paypal" alt="Paypal" src="/images/paypal.png"></a></li>
                  <li><a href="#"><img title="Discover" alt="Discover" src="/images/discover.png"></a></li>
                  <li><a href="#"><img title="Master Card" alt="Master Card" src="/images/master-card.png"></a></li>
                  <li><a href="#"><img title="HDFC Card" alt="Master Card" src="/images/pay.png"></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Useful Links<a class="expander visible-xs" href="#TabBlock-1">+</a></h3>
            <div class="tabBlock" id="TabBlock-1">
              <ul class="list-links list-unstyled">

                  <li><a href="/filterProduct">Our Products</a></li>
                  <li><a href="/arrival">New Arrivals</a></li>
                  <li><a href="/shop_grid">Shop</a></li>

                  <li><a href="/about_us">About Us</a></li>
                  <li><a href="/contact_us">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Information<a class="expander visible-xs" href="#TabBlock-3">+</a></h3>
            <div class="tabBlock" id="TabBlock-3">
              <ul class="list-links list-unstyled">
                <li><a href="/offer">Offers</a></li>
                <li> <a href="/faq">Faqs</a> </li>
                <li> <a href="/policy">Privacy Policy</a> </li>
                <li> <a href="/condition">Terms & Conditions</a> </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-md-2 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">CONSUMER<a class="expander visible-xs" href="#TabBlock-4">+</a></h3>
            <div class="tabBlock" id="TabBlock-4">
              <ul class="list-links list-unstyled">
                <li><a href="/loggedUser">Account</a></li>
                <li><a href="/orderlist">Order History</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/shopping_cart">Shopping Cart</a></li>
                <li><a href="/return">Return Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3 col-xs-12 collapsed-block">
          <div class="footer-links">
            <h3 class="links-title">Get in Touch<a class="expander visible-xs" href="#TabBlock-5">+</a></h3>
            <div class="tabBlock" id="TabBlock-5">
              <!-- <div class="footer-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</div>
               -->
              <div class="footer-description"> <b>Address:</b> 11C, Dum Dum Road,<br/> Kolkata-30<br>
                <b>Phone:</b> <a href="tel:+25568763" style="font-weight: bold;">25568763</a> ,<a href="tel:9038631845" style="font-weight: bold;">9038631845</a> (Sale)<br>
                <b>Phone:</b><a href="tel:+25579656" style="font-weight: bold;">25579656</a> ,<a href="tel:9038631844" style="font-weight: bold;">9038631844</a>(Fact)<br>
                <b>Email:</b> <a href="mailto:gourangapual_sons@yahoo.in" style="font-weight: bold;">gourangapual_sons@yahoo.in</a> <br>
                <b>Fax:</b> <a href="tel:(033) 2532 9097" style="font-weight: bold;">(033) 2532 9097 </a></div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-coppyright">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-xs-12">
            <ul class="footer-company-links">
              <li> <a href="/about_us">About GOURANGA PAUL</a> </li>
              <li> <a href="/contact_us">Contact Us</a> </li>
              <li> <a href="/faq">Faqs</a> </li>
              <li> <a href="/policy">Privacy Policy</a> </li>
              <li> <a href="/condition">Terms & Conditions</a> </li>
            </ul>
            <div class="coppyright"> Copyright © 2021 <a href="/"> GOURANGA PAUL </a>. All Rights Reserved. </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  